@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 90%;
    max-width: 1000px;
    margin-top: 30px;
    margin-left: 500px;
    background-color: #00c800;
    font-family: "Open Sans";
    border-radius: 15px;
}

.navbar ul {
    list-style: none;
    overflow: hidden;
}

.menu > li {
    float: left;
}

.menu > li > a {
    display: block;
    padding: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.menu li a:hover,
.menu li:hover {
    color: white;
    background-color: #00b6d8;
    border-radius: 15px;
    transition: all 0.3s;
}

.submenu {
    position: absolute;
    background-color: white;
    visibility: hidden;
    transform: translateX(25%);
    opacity: 0;
    transition: all 0.6s;
}

.submenu li a {
    display: block;
    padding: 15px;
    background-color: #00c800;
    color: white;
    text-decoration: none;
    font-family: "Open Sans";
}

.navbar ul li a span {
    transition: all 0.6s;
}

.navbar ul li:hover span {
    transform: translateY(10px);
    opacity: 0;
}

.menu li:hover .submenu {
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
}
