@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//This only works with the class {{ setActive() }}
.active{
    background-color: #00b6d8;
    border-radius: 15px;
}

.navbar {
    width: auto;
    max-width: 1030px;
    margin-top: 25px;
    margin-left: 330px;
    font-family: "Open Sans";
    border-radius: 15px;
    background-color: #00c800;
}

.navbar ul {
    overflow: hidden;
    list-style: none;
}

.menu > li {
    float: left;
}

.menu > li > a {
    display: block;
    padding: 15px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #00b6d8;
    border-radius: 15px;
    transition: all 0.3s;
}

.submenu {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    visibility: hidden;
    border-radius: 5px;
    transform: translateX(25%);
    opacity: 0;
    transition: all 0.6s;
}

.submenu li a {
    display: block;
    padding: 15px;
    background-color: #00c800;
    color: white;
    text-decoration: none;
    font-family: "Open Sans";
}

.navbar ul li a span {
    transition: all 0.6s;
}

.navbar ul li:hover span {
    transform: translateY(10px);
    opacity: 0;
}

.menu li:hover .submenu {
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
}

.btn-login>a{
    color: #00c800 !important;
    border: 2px solid #00c800;
    font-style: oblique;
    background-color: white;
    border-radius: 60px;
    font-size: 15px;
    transition: all .5s;
}

.btn-login{
    background: white;
    border-radius: 60px;
    background-color: #00c800;
}

.btn-login>a:hover{
    border-radius: 15px !important;
    background: white !important;
    font-weight: bolder;
}
