@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.our-philosophy {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-template-areas:
        "slogan      slogan"
        "vision      free1"
        "free2   mission"
        "values values";
    font-family: "Open Sans";
    max-width: 1300px;
    width: 90%;
    margin: 130px auto;
}

.our-philosophy .slogan {
    grid-area: slogan;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 20px;
    color: #00b6d8;
}

.our-philosophy .our-vision {
    grid-area: vision;
    text-align: justify;
    background-color: #00b6d8;
    padding: 20px;
    border-radius: 5px 30px 30px 5px;
    color: white;
}

.our-philosophy .our-mission {
    grid-area: mission;
    background-color: #00b6d8;
    text-align: justify;
    padding: 20px;
    border-radius: 30px 5px 5px 30px;
    color: white;
}

.our-philosophy .our-mission > h1 {
    text-align: right;
}

.our-philosophy .our-values {
    grid-area: values;
    display: grid;
    grid-gap: 20px 0;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
    "values_title       values_title"
    "overcoming_title   overcoming"
    "excelence_title    excelence"
    "solidarity_title   solidarity"
    "integrity_title    integrity"
    "leadership_title   leadership"
    "img                img";
    color: white;
}

.our-values .values {
    grid-area: values_title;
    color: #00c800;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
}

.our-values .overcoming {
    grid-area: overcoming_title;
    background-color: #00c800;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 0;
}

.our-values .v1 {
    grid-area: overcoming;
    color: gray;
    border: 2px solid #00c800;
    padding: 20px;
    border-radius: 0 20px 0 0;
}

.our-values .excelence {
    grid-area: excelence_title;
    background-color: #00c800;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 0;
}

.our-values .v2 {
    grid-area: excelence;
    color: gray;
    border: 2px solid #00c800;
    padding: 20px;
    border-radius: 0 20px 0 0;
}

.our-values .solidarity {
    grid-area: solidarity_title;
    background-color: #00c800;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 0;
}

.our-values .v3 {
    grid-area: solidarity;
    color: gray;
    border: 2px solid #00c800;
    padding: 20px;
    border-radius: 0 20px 0 0;
}

.our-values .integrity {
    grid-area: integrity_title;
    background-color: #00c800;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 0;
}

.our-values .v4 {
    grid-area: integrity;
    color: gray;
    border: 2px solid #00c800;
    padding: 20px;
    border-radius: 0 20px 0 0;
}

.our-values .leadership {
    grid-area: leadership_title;
    background-color: #00c800;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 0 0;
}

.our-values .v5 {
    grid-area: leadership;
    color: gray;
    border: 2px solid #00c800;
    padding: 20px;
    border-radius: 0 20px 0 0;
}

.our-values .image{
    grid-area: img;
    margin: auto;
}

.our-values .image > img {
    border: 5px ridge #00c800;
    border-radius: 10px;
    width: 350px;
}