@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.our-team {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
    "title1   title1   title1   title1   title1"
        "descrip  descrip  descrip  descrip  descrip"
        "img1     img2     img3     img4     img5"
        "img6     img7     img8     img9     img10"
        "title2   title2   title2   title2   title2"
        "descrip2 descrip2 descrip2 descrip2 descrip2"
        "img11    img12    img13    img14    img15";
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1300px;
    width: 90%;
    margin: 130px auto;
}

.our-team .title {
    grid-area: title1;
    text-align:center;
    background-color: white;
    color: #00b6d8;
}

.our-team .description{
    grid-area: descrip;
    padding: 15px;
    text-align:center;
    background-color: #00b6d8;
    border-radius: 15px;
    color: white;
}

.our-team .title2{
    grid-area: title2;
    text-align:center;
    background-color: white;
    color: #00b6d8;
}

.our-team .description2{
    grid-area: descrip2;
    padding: 15px;
    text-align:center;
    background-color: #00b6d8;
    border-radius: 15px;
    color: white;
}

img {
    border-radius: 15px;
}

p {
    color: gray;
}

h2{
    font-family: 'Open Sans';
}

.our-team .img1{
    grid-area: img1;
    padding: 20px;
    text-align:center;
}

.our-team .img2{
    grid-area: img2;
    padding: 20px;
    text-align:center;
}

.our-team .img3{
    grid-area: img3;
    padding: 20px;
    text-align:center;
}

.our-team .img4{
    grid-area: img4;
    padding: 20px;
    text-align:center;
}

.our-team .img5{
    grid-area: img5;
    padding: 20px;
    text-align:center;
}

.our-team .img6{
    grid-area: img6;
    padding: 20px;
    text-align:center;
}

.our-team .img7{
    grid-area: img7;
    padding: 20px;
    text-align:center;
}

.our-team .img8{
    grid-area: img8;
    padding: 20px;
    text-align:center;
}

.img8 > img{
    width: 100px;
}

.our-team .img9{
    grid-area: img9;
    padding: 20px;
    text-align:center;
}

.our-team .img10{
    grid-area: img10;
    padding: 20px;
    text-align:center;
}

.our-team .img11{
    grid-area: img11;
    padding: 20px;
    text-align:center;
}

.our-team .img12{
    grid-area: img12;
    padding: 20px;
    text-align:center;
}

.our-team .img13{
    grid-area: img13;
    padding: 20px;
    text-align:center;
}

.our-team .img14{
    grid-area: img14;
    padding: 20px;
    text-align:center;
}

.our-team .img15{
    grid-area: img15;
    padding: 20px;
    text-align:center;
}


