@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  margin: 0;
}

.sanmiguelito {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "slideshow slideshow slideshow" "title title title" "content1 content1 number";
  max-width: 1300px;
  width: 90%;
  margin: 130px auto;
}

.slideshow {
  grid-area: slideshow;
}

.title {
  grid-area: title;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #01b2de;
}

.content {
  grid-area: content1;
  color: gray;
  border: 3px solid #01b2de;
  border-radius: 30px 5px 30px 5px;
  padding: 30px;
  text-align: justify;
}

.content > img {
  float: left;
  margin: 0 10px 10px 0;
}

.numbers {
  grid-area: number;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.content a > img {
  width: 20px;
  margin: 3px;
}

table tr td {
  padding: 30px;
  border-radius: 10px;
}
