@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  margin: 0;
}

.hilasal {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "slideshow slideshow slideshow" "title title title" "content1 content1 number";
  max-width: 1300px;
  width: 90%;
  margin: 130px auto;
}
