* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: royalblue;
  overflow: hidden;
}

nav .menu {
  list-style-type: none;
}

nav .menu>li {
  padding: 20px;
  width: auto;
  float: left;
}

nav .menu>li>a {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: aliceblue;
  text-decoration: none;
}

nav .menu>li:hover, nav .menu>li .sub_menu>li:hover {
  background-color: rgb(34, 64, 155);
  cursor: pointer;
}

nav .menu>li .sub_menu {
  position: absolute;
  background-color: rgb(34, 64, 155);
  width: auto;
  list-style: none;
  margin-top: 20px;
  display: none;
}

nav .menu>li:hover .sub_menu {
  display: block;
}

nav .menu>li>.sub_menu>li {
  padding: 1em;
}

nav .menu>li>.sub_menu>li:hover {
  background-color: royalblue;  
}

nav .menu>li>.sub_menu>li>a {
  text-decoration: none;
  color: white;
}